{% extends 'base.html' %}
{% block title %}
    patient list
{% endblock %}
{% block bd1 %}
    <div class="row">
        <div class="col-sm-2 mt-2">
            <div class="list-group">
                <a href="#" class="list-group-item"></a>
                Cách thức thu thập bộ dữ liệu

                <a href="#" class="list-group-item">Xử lý dữ liệu </a>

                <a href="#" class="list-group-item">Tải về CSDL dữ liệu </a>

                <a href="#" class="list-group-item">Thống kê dữ liệu </a>

                <a href="#" class="list-group-item">Các nhiệm vụ liên quan đến bộ dữ liệu </a>

            </div>

        </div>
        <div class="col-sm-10 mt-2">
            <div style="text-align: center">
                <h1 class="text-uppercase mt-4">    {% block nametable %}
                    Raw video list
                {% endblock %}
                </h1>
            </div>
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Patient</th>
                    <th scope="col">position</th>
                    <th scope="col">nFrames</th>
                    <th scope="col">path</th>
                </tr>
                </thead>
                <tbody>

                {% for x in Raw_video %}
                    <tr>
                        <th scope="row"> <a href="/Frames/{{ x.id }}">  {{ x.id }}</a>  </th>
                        <td>{{ x.patient }}</td>
                        <td>{{ x.position }}</td>
                        <td>{{ x.nFrames }}</td>
                        <td>{{ x.path }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <br/>
            {% if page_obj.has_next %}
                <a href="/"> </a>
            {% endif %}

        </div>

    </div>
{% endblock %}